@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Overpass:wght@400;500&display=swap');

.main {
 display: inline-block;
}

.MSContainer {
  height: 100vh;
  background-color: #293066;
  display: flex;
  flex-direction: column;
  padding: 0px 15%;
  justify-content: space-evenly;
}

.MSContainer p {
  max-width: auto;
  color: white;
  font-size: 2.5vw;
  line-height: 5vw;
  font-family: "Montserrat";
}

.MSBPoints {
  color: rgb(121, 175, 162);
  font-style: italic;
}

.imageContaienr {
  width: 30vw;
  position:relative;
  height: 15vh;
  border: 1px solid red;
}

@media (max-width: 600px) {

  .MSContainer {
    justify-content: center;
    align-items: center;
  }

  .MSContainer p {
    font-size: 6vw;
    height: 70vh;
    line-height: 5vh;
  }

  .imageContaienr {
    width: 100%;
    height: 50%;
  }
  
}