@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Overpass:wght@400;500&display=swap');

.main {
 display: inline-block;
}

.MSContainer {
  height: 100vh;
  background-color: #293066;
  display: flex;
  flex-direction: column;
  padding: 0px 15%;
  justify-content: space-evenly;
}

.MSContainer p {
  max-width: auto;
  color: white;
  font-size: 2.5vw;
  line-height: 5vw;
  font-family: "Montserrat";
}

.MSBPoints {
  color: rgb(121, 175, 162);
  font-style: italic;
}

.imageContaienr {
  width: 30%;
  position: 'relative';
  border: 1px solid red;
}