@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Overpass:wght@400;500&display=swap');




.MSContainer {
  height: 90vh;
  background-color: #293066;
  display: flex;
  flex-direction: column;
  padding: 15%;
  justify-content: space-between;
}

.MSContainer p {
  color: white;
  font-size: 4rem;
  line-height: 100px;
  font-family: "Montserrat";
}

.MSBPoints {
  color: rgb(121, 175, 162);
  font-style: italic;
}

.logo {
  margin: 50px 0px;
 
}