@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Overpass:wght@400;500&display=swap');




.MSContainer {
  height: 100vh;
  background-color: #293066;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 15%;
  margin-bottom: 100px;
}

.MSContainer p {
  color: white;
  font-size: 4rem;
  line-height: 100px;
  font-family: "Montserrat";
}

.MSBPoints {
  color: rgb(121, 175, 162);
  font-style: italic;
}

.logo {
  margin: 50px 0px;
}