@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&family=Overpass:wght@400;600&display=swap');
.hero {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 95vh;
}

.MSContainer {
  height: 100vh;
  background-color: #293066;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

.MSContainer p {
  color: white;
  font-size: 4rem;
  line-height: 150px;
  font-family: "Montserrat";
}

.MSBPoints {
  color: rgb(121, 175, 162);
}