

.hero {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
}

.MSContainer {
  height: 100vh;
  background-color: #293066;
}

.MSBPoints {
  color: rgb(121, 175, 162);
}